/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/8.10/checksums/checksums.lock
/.gradle/8.10/executionHistory/executionHistory.lock
/.gradle/8.10/fileHashes/fileHashes.lock
/.gradle/8.10/dependencies-accessors/gc.properties
/.gradle/8.10/gc.properties
/.gradle/vcs-1/gc.properties
/.gradle/ideaInitScripts/ijtgtmapper.gradle
/.gradle/ideaInitScripts/ijtgtmapper1.gradle
/.gradle/8.10/fileChanges/last-build.bin

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
